.root {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
}

.list {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.scroll {
  overflow: auto;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

.total {
  display: flex;
  align-items: center;
}

.total svg {
  width: 36px;
  height: 36px;
}

/*noinspection ALL*/
.amount {
  composes: text text_type_digits-medium from global;
}

.group {
  position: relative;
}

.group::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 5;
}

.drag::after {
  border: 1px dashed rgb(0, 206, 206, 0.5);
}

.modal {
  text-align: center;
  padding: 20px 86px 80px;
}
