/*noinspection ALL*/
.main {
  composes: text text_type_main-default from global;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 1240px;
  margin: auto;
}
