.root {
  display: flex;
  flex: 1;
  position: relative;
}

.content {
  position: absolute;
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
}
