.root {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.tabs {
  display: flex;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  position: relative;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  scrollbar-width: thin;
  scrollbar-color: #8585AD #2F2F37;
}

.title {
  width: 100%;
  margin: 0;
}

.ingredient {
  width: 50%;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.ingredient,
.ingredient:hover,
.ingredient:active,
.ingredient:visited {
  color: inherit;
  text-decoration: none;
}

.price {
  text-align: center;
  display: flex;
  justify-content: center;
}

/*noinspection ALL*/
.amount {
  composes: text text_type_digits-default from global;
}

.name {
  margin: 0;
}
