.root {
  background: var(--background);
}

.content {
  position:  relative;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 290px;
  height: 50px;
}

.link {
  display: flex;
  height: 56px;
  align-items: center;
  border-radius: 40px;
  color: var(--text-inactive-color);
  text-decoration: none;
}

.active {
  composes: link;
}

.active,
.link:hover {
  color: var(--text-primary-color);
}

.active svg,
.link:hover svg {
  fill: var(--text-primary-color);
}
